@model Tuple<CampusSecurity.Models.AdvSearchViewModel, CampusSecurity.Models.Discipline>


<table class="w3-table w3-striped w3-border">
     
    <tr>
        @foreach (var item in Model.Item1.answer)
        {

            foreach (var item2 in item)
            {

                foreach (var item3 in item2.rows)
                {
                    <td>@item3</td>
                }

            }




        }

    </tr>



</table>

