@model Tuple<CampusSecurity.Models.AdvSearchViewModel, CampusSecurity.Models.Discipline>




@foreach (var item in Model.Item1.answer)
{
    <table class="w3-table w3-striped w3-border">
        @foreach(var item2 in item)
        {
            <tr>
                @foreach(var item3 in item2.rows)
                {
                    <td>@item3</td>
                }
            </tr>
        }
    </table>
    <br />
    <br />
}


