
@{
    ViewBag.Title = "Rankings";
}
@model Tuple<CampusSecurity.Models.UIModel, CampusSecurity.Models.SearchViewModel>

@*<h2>Rankings</h2>*@

<html>

<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:43px;" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
            <i class="fa fa-remove"></i>
        </a>
        <h4 class="w3-bar-item"><b>Menu</b></h4>

        <a class="w3-bar-item w3-button w3-hover-black" href="#">Search</a>
        <a class="w3-bar-item w3-button w3-hover-black" href="#">Advanced Search</a>
        <a class="w3-bar-item w3-button w3-hover-black" href="#">Trends</a>
        <a class="w3-bar-item w3-button w3-hover-black" href="#">@Html.ActionLink("University Rankings", "University Rankings", "HelloWorld")</a>
        <a class="w3-bar-item w3-button w3-hover-black" href="#">Report a Crime</a>
    </nav>
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <div class="w3-container" style="margin-left:250px; margin-top:43px">
        <h2 class="w3-text-teal" style="margin-left:250px">Rankings</h2>
        <div>
            <label>Type</label>
            <label style="margin-left:110px">Sub-type</label>
           
        </div>
        <div style="align-items">
            <div class="editor-field">  @Html.DropDownListFor(m => m.Item1.University, Model.Item1.Type, new { id = "type", style = "width: 150px; margin-right:25px;float:left" ,@onchange = "CallChangefunc(this.value)" }) </div>
           
            <select id="SubType"></select>
        </div>
        </div>
        <div class="w3-container" style="margin-left:250px; margin-top:43px">
           
            <div>
               
                <label style="margin-left:110px">Year</label>
                
            </div>
            <div style="align-items">
                <div class="editor-field">  @Html.DropDownListFor(m => m.Item1.Year, Model.Item1.Year, new { id = "year", style = "margin-left:25px;float:left" }) </div>
            </div>
            </div>



    <div class="w3-container" style="margin-left:500px;margin-top:25px">

        <button class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge" id="btnSearch" value="Search" onclick="senddata()">Search</button>
    </div>
    <div id="GridDisplay" style="margin-top:50px;margin-left:250px">

    </div>
   
            <script>
                // Get the Sidebar
                var mySidebar = document.getElementById("mySidebar");

                // Get the DIV with overlay effect
                var overlayBg = document.getElementById("myOverlay");

                // Toggle between showing and hiding the sidebar, and add overlay effect
                function w3_open() {
                    if (mySidebar.style.display === 'block') {
                        mySidebar.style.display = 'none';
                        overlayBg.style.display = "none";
                    } else {
                        mySidebar.style.display = 'block';
                        overlayBg.style.display = "block";
                    }
                }

                // Close the sidebar with the close button
                function w3_close() {
                    mySidebar.style.display = "none";
                    overlayBg.style.display = "none";
                }
            </script>

            <script>
                function CallChangefunc(input) {
                    var items = '';
                    if (input == "Arrests" || input == "Discipline") {
                        items += "<option value='Drug'> Drug </option>";
                        items += "<option value='Weapon'> Weapon </option>";
                        items += "<option value='Liquor'> Liquor </option>";
                    }
                    else if (input == "Hate Crime") {
                        items += "<option value='Religion'> Religion </option>";
                        items += "<option value='Gender'> Gender </option>";
                        items += "<option value='Disability'> Disability </option>";
                        items += "<option value='Race'> Race </option>";
                    }
                    else if (input == "University ") {
                        items += "<option value='City'> City </option>";
                        items += "<option value='State'> State </option>";
                        items += "<option value='Zip'> Name </option>";
                    }
                    else if (input == "Violence Against Women") {
                        items += "<option value='Stalking'> Stalking </option>";
                        items += "<option value='Dating violence'> Dating violence </option>";
                        items += "<option value='Domestic violence'> Domestic violence </option>";
                    }
                    else if (input == "Criminal Offense") {
                        items += "<option value='Burglary'> Burglary </option>";
                        items += "<option value='Murder'> Murder </option>";
                        items += "<option value='Vehicle theft'> Vehicle theft </option>";
                        items += "<option value='Man slaughter'> Man slaughter </option>";
                        items += "<option value='Robbery'> Robbery </option>";
                        items += "<option value='Forcible Sex offence'> Forcible Sex offence </option>";
                        items += "<option value='non-forcible sex offence'> non-forcible sex offence </option>";
                        items += "<option value='Assault'> Assault </option>";
                        items += "<option value='Arson'> Arson </option>";
                    }
                    $('#SubType').html(items);
                }
            </script>
    <script>
                function senddata() {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ranking", "HelloWorld")',
                        data: {"Year": $("#year").val(), "Type": $("#type").val(), "SubType": $("#SubType").val()},//'uni=' + $("uni").val + '&year=' + $("year").val + '&loc=' + $("loc").val,
                        dataType: "html",
                        success: function (data)
                        {
                            //alert("data=" + data);
                            $('#GridDisplay').html(data);
                        }
                    });

                }
    </script>
</body>
</html>