@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>Campus Security is an interactive web application for providing users with statistical crime data in campuses. The user can get University wise or crime wise or year wise data on these reported crimes. There is also an added functionality which will help the users to create charts or graphs based on any related data they want. </p>
<p>The application will query data based on the search categories and filters given by the user. All the functionalities of this system together aim to create awareness among students as well as general public.</p>
<p>The police will have separate login to report a crime to make this information available to the public. This helps in involving thecommunity in the safety and protection of their area. The application also serves as an analytics tool that will help the public find trends and patterns of crime in any area over the years or in a particular year which will help them become more aware of the happenings in and around the campus.</p>
