@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Raji Sundararajan :</strong>   <a href="mailto:rajisund@ufl.edu">rajisund@ufl.edu</a><br />
    <strong>Divya Saroja Rengasamy :</strong>   <a href="mailto:divyarengs@ufl.edu">divyarengs@ufl.edu</a><br />
    <strong>Jega Anish Dev :</strong>   <a href="mailto:anishdev@ufl.edu">anishdev@ufl.edu</a><br />
    <strong>Aaditya R Menon :</strong>   <a href="mailto:aadityamenon29@ufl.edu">aadityamenon29@ufl.edu</a><br />
</address>